@font-face {
  font-family: 'Soehne';
  font-style: normal;
  font-weight: normal;
  src: local('Soehne'), url('../../public/fonts/TestSohneBreit-Leicht-BF663d89cae7333.otf') format('woff2');
}
/* @font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/luckiestguy/v23/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: 50%;
  margin: 0;
  font-family: 'Soehne';
  /* overflow: hidden; */

}

h1 {
  margin-block-start: unset !important;
  margin-block-end: unset !important;
}

.logo {
  font-family: "Luckiest Guy", cursive;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  opacity: 0;
  padding-top: 25px;
  animation: slideIn 1s ease-in-out forwards;
  gap: 5px;
  font-weight: unset;
}

.nitish,
.pjt {
  color: #a52a2a;
}

.k {
  color: transparent;
  -webkit-text-stroke: 2px #a52a2a;
  transform: rotate(-20deg);
  display: inline-block;
  animation: bounce 1.5s ease-in-out infinite;
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: rotate(-20deg) translateY(0);
  }

  50% {
    transform: rotate(-20deg) translateY(-10px);
  }
}

@keyframes skeleton-loading {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}





.title-dawae-container {
  z-index: 1000;
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 40px;
}

.title-dawae {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: "Soehne";
}

.title-dawae-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.title-dawae-description {
  font-size: 16px;
  /* font-weight: 400; */
  letter-spacing: 1px;
  font-family: "Soehne";
  color: #a3a6a9;
  max-width: 1000px;
  line-height: 1.6;
  text-align: center;
}

.unites-bruddahs-globally-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.unites-bruddahs-globally-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 60px;
}

.join-community-button {
  background-color: #f6f7fa;
  color: #666;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.join-community-button:hover {
  background-color: #007bff !important;
  color: white !important;
}

.sign-in-button {
  background-color: white;
  color: black;
  border: 1px solid #e1e4ea;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #007bff !important;
  color: white !important;
}

.join-the-tribe-button {  
  background-color: rgb(14, 15, 19);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.join-the-tribe-button:hover {
  background-color: #007bff !important;
  color: white !important;
}

.header-nav-links-container {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.header-nav-links {
  display: flex;
  /* gap: 10px; */
  font-size: 14px;
  margin-left: 25px;
}

.header-nav-links span {
  cursor: pointer;
  padding: 8px 15px;
}

.header-nav-links span:hover {
  background-color: #f4f4f5;
  border-radius: 60px;
}

.header-hamburger-menu {
  display: none;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-links {
  display: flex;
  gap: 50px;
}

.unites-bruddahs-globally-card {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  text-align: left;
  border: 1px solid #e1e4ea;
}

.unites-bruddahs-globally-card:hover {
  background-color: #303037;
  color: white;
}

.unites-bruddahs-globally-card:hover .unites-bruddahs-globally-card-header {
  color: white;
}

.unites-bruddahs-globally-card:hover .unites-bruddahs-globally-card-description {
  color: white;
}

/* Disable hover effects on mobile devices */
@media (max-width: 768px) {
  .unites-bruddahs-globally-card:hover {
    background-color: transparent;
    color: inherit;
  }
  
  .unites-bruddahs-globally-card:hover .unites-bruddahs-globally-card-header {
    color: inherit;
  }
  
  .unites-bruddahs-globally-card:hover .unites-bruddahs-globally-card-description {
    color: #666;
  }
}

.unites-bruddahs-globally-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 20px;
  align-items: center;
}

.unites-bruddahs-globally-card-description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  /* margin: 0; */
  margin-top: 10px;
}

.total-dawae-warriors-box {
  position: absolute;
  right: 300px;
  top: 0px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  color: white;
  /* min-width: 300px; */
  backdrop-filter: blur(10px);
}


canvas {
  width: 100% !important;
  height: 900px !important;
}


.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  position: relative;
}

.ctrl-hint {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 20000;
}

.ctrl-hint-text {
  color: #fff;
  padding: 18px 36px;
  border-radius: 12px;
  font-size: 30px;
  font-weight: 500;
  user-select: none;
}

.tribes-section-container {
  background-color: white;
  padding: 40px 20px 80px 20px;
  color: #333;
}

#chartdiv {
  width: 100%;
  height: 900px;
  background-color: #0e0f13;
  position: relative;
}

@media (max-width: 1050px) {  
  .header-nav-links {
    margin-left: 0px;
  }
  .header-nav-links span {
    cursor: pointer;
    padding: 8px;
  }

  .sign-in-button {
    padding: 6px;
  }

  .join-the-tribe-button {
    padding: 6px;
  }
}

@media (max-width: 900px) {
  .header-nav-links-container {
    display: none;
  }

  .header-hamburger-menu {
    display: block;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
  }

  .footer-links {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-links span {
    height: 30px;
  }

  .title-dawae {
    font-size: 32px;
  }

  .title-dawae-description {
    font-size: 14px;
  }

  .unites-bruddahs-globally-title {
    font-size: 32px;
  }

  .unites-bruddahs-globally-description {
    font-size: 14px;
  }

  .title-dawae-description-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .unites-bruddahs-globally-card-header{
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  .unites-bruddahs-globally-card-description {
    font-size: 13px;
    margin-top: 10px;
  }

  .total-dawae-warriors-box {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 1000;
  }

  .map-section {
    height: 700px;
  }

  .ctrl-hint {
    height: 700px;
  }

  .ctrl-hint-text {
    font-size: 20px;
  }
  canvas {
    height: 700px !important;
  }
  

  .sign-in-button {
    padding: 10px 15px;
  }

  .join-the-tribe-button {  
    padding: 10px 15px;
  }
}

@media (max-width: 600px) {
  .footer-links {
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 13px;
  }

  .map-section {
    height: 700px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .total-dawae-warriors-box {
    z-index: 1000;
    width: 90% !important;
    font-size: 12px !important;
    position: unset;
    order: 1;
  }

  #chartdiv {
    height: 400px;
    top: 120px;
    position: unset;
    order: 2;
  }

  canvas {
    height: 400px !important;
  }
  .ctrl-hint {
    height: 400px;
    display: none;
  }

  .ctrl-hint-text {
    font-size: 16px;
  }


  .tribes-section-container {
    padding: 40px 20px;
  }

  .title-dawae-container {
    margin-bottom: 0px;
  }
}
