.modal-info-content {
    background: #FFF;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
    cursor: default;
  }
  
  .containter-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    max-height: 500px; 
  }
  
  .containter-info-content {
    overflow-y: auto; 
    padding-right: 0px;
    margin-right: -8px; 
  }
  
 
  .containter-info-content::-webkit-scrollbar {
    width: 6px;
  }
  
  .containter-info-content::-webkit-scrollbar-thumb {
    background:  rgb(181, 178, 178);
    border-radius: 10px; 
  }
  
  .containter-info-content::-webkit-scrollbar-track {
    background-color: rgb(229, 227, 227) ;
    border-radius: 10px;
    margin: 10px 0; 
  }

.info-title {
    font-size: 24px;
    font-weight: 700;
    text-align: start;
    line-height: 1;
}

.info-content {
    font-size: 16px;
    text-align: start;
}

.info-content-2 {
    font-size: 16px;
    text-align: start;
    margin-top: 10px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

